<!DOCTYPE html>
<html lang="en">
{% extends 'Sandaapp/base.html' %}
{% block content %}

    <html>
    <head>
        <meta charset="UTF-8">
        <title>Customer Info</title>

    </head>
    <body>
    <style>
        body {
            background-color: red;
        }
    </style>
    <div class="row">
        <h2 style="padding-left: 15Px">Customer Information</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Customer Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Phone Number</th>
                <th>Created Date</th>
                <th>Updated Date</th>

                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>{{ user.customer.cust_id }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name  }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.customer.address }}</td>
                    <td>{{ user.customer.city }}</td>
                    <td>{{ user.customer.state }}</td>
                    <td>{{ user.customer.zipcode }}</td>
                    <td>{{ user.customer.phone_number }}</td>
                    <td>{{ user.customer.created_date }}</td>
                    <td>{{ user.customer.updated_date }}</td>
{#                    <td><a href="{% url 'Sandaapp:customer_edit' pk=customer.pk %}" class="btn btn-warning">Edit</a>#}


                </tr>

            </tbody>
        </table>

    </div>
    </body>
    </html>
{% endblock %}
</html>
